
.container{
    display: flex;
    flex-direction: column;
    width: 1536px;
}
body{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}
.Position_relative_container{
    position: relative;
    overflow:hidden;
    height: 748px;
    width: 100%;
}

.title_bar{
    display: flex;
    height: 30px;
    width: 100%;
    position:relative;
    top: 0;
    padding-left: 42px;
    padding-top: 20px;
    overflow: visible;
}
.image_modelY{
    margin-top: -69px;
    width: 1536px;
    height: 928px;
}
.Tesla_logo_wrapper{
    
    width: 150px;
    height: 30px;
    position:absolute;
    overflow: hidden;
}
.First_background_modelY{
    position: absolute;
    margin-left: -42px;
    margin-top: -50px;
    z-index: -2;
}
.Tesla_logo{
    transform: scale(1.2);
    width: 120px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 5;
}
.logo_link{
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
}
.menu_options{
    position: relative;
    z-index: 4;
    overflow: visible;
    margin-left: 34%;
    height:36px;
    margin-top: -19px;
}
.menu_list_main{
    margin-top: 16px;
    list-style-type: none;
    display: flex;
    gap: 4px;
    border: none;
    margin-left: -40px;
    margin-bottom: 5px;
}
.menu_list_main:hover button{
    color: black;
    transition-delay: 0.2s;
}

.menu_list_main button{
    font-family:  Arial,sans-serif;
    font-size: 13px;
    font-weight: 750;
    padding: 4px 15px;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.menu_list_main button:hover{
    border-radius: 5px;
    background-color: #d0d1d2;
    box-sizing: border-box;
    transition-delay: 0.2s;
   
}

.top_right_three_buttons_list{
    display: flex;
    list-style-type: none;
    gap: 5%;
}
.top_right_three_buttons{
    
    width: 150px;
    position: absolute;
    top: -2px;
    right: 80px;
    z-index: 5;
}

.small_button_atag{
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  transition: background-color 0.3s ease;
}
.small_button_atag svg{
    padding-left: 4px;
}
.small_button_atag :hover{
    overflow: hidden;
    background-color: rgb(156,180,201,0.3);
    border: none;
    border-radius: 16%;
}

.top_right_three_buttons svg path{
    transition-delay: 0.2s;
    fill: white;
}

.menu_options:hover ~ .top_right_three_buttons svg path{
    transition-delay: 0.2s;
    fill: black;
}
.Tesla_logo_wrapper svg path{
    transition-delay: 0.2s;
    fill:white;
}
.menu_options:hover ~ .Tesla_logo_wrapper svg path{
    transition-delay: 0.2s;
    fill:black;
}
.submenu_vehicles{
    position: absolute;
    pointer-events: none;
    background-color: white;
    margin-top: -42px;
    margin-left: -573px;
    height: 0px;
    width: 1544px;
    z-index: -10;
    opacity: 0;
    transition: height 0.33s ease-out,opacity 0.1s ease-out;
}


#vehicles:hover + .submenu_vehicles,.submenu_vehicles:hover{
    z-index: -1;
    height: 470px;
    opacity: 1;
    pointer-events: visible;
}
.menu_options:hover~.First_background_modelY .image_modelY{
    filter: blur(5px);
}

.submenu_vehicles{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    
}
.submenu_vehicles_leftside{
    flex-grow: 1;
    height: 340px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.submenu_vehicles_rightside{
    width: 420px;
    height: 340px;
    padding-left: 50px;
    border-left: 2px solid #c7cad0;
}
.submenu_vehicles_leftside_options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submenu_vehicles_leftside .submenu_vehicles_leftside_options .submenu_vehicles_titles h3{
    margin: 0;
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.Cars{
    height: 115px;
    width: 200px;
    display: block;
}
.padding_wrapper{
    height: 340px;
    width:150px;
}
.padding_wrapper_rightside{
    height: 340px;
    width: 50px;
}

.submenu_vehicles_titles{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.vehicle_atag_menu{
    height: 30px;
}
.links_inside_submenu_vehicles_leftside_options{
    height: 25px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.links_inside_submenu_vehicles_leftside_options a span{
    color: #5c5e62;
    text-decoration: none;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: small;
    font-weight: 550;
}
.links_inside_submenu_vehicles_leftside_options a{
    text-decoration: none;
}

.links_inside_submenu_vehicles_leftside_options a span::after{
    content: '';
    background-color: #5c5e62;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0.5px;
    height: 1px;
    transform-origin: bottom;
    transition:box-shadow 0.2s ease;
}

.links_inside_submenu_vehicles_leftside_options a:hover span::after{
    background-color: black;
    box-shadow: 0 0.5px 1px black;   
}
.submenu_vehicles_rightside ol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    list-style-type: none;
}
.submenu_vehicles_rightside a{
    text-decoration: none;
}
.submenu_vehicles_rightside ol a span{
    color: #404143;
    font-weight: 550;
    font-size: small;
    font-family: Arial, sans-serif;
    position: relative;
}
.submenu_vehicles_rightside ol a span::after{
    content: '';
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform-origin: bottom;
    transition: box-shadow 0.2s ease;
}
.submenu_vehicles_rightside ol a:hover span::after{
    height: 2.5px;
    box-shadow: 0 2px 0.5px rgba(0,0,0,0.7);  
}
.background2div{
    width: 100%;
    height: 740px;
    overflow: hidden;
}
#background2{
    width: 1536px;
    margin-top: -100px;
    height: 900px;
}
.background3div{
    width:100%;
    height: 740px;
    overflow:hidden;
}
#background3{
    width: 1536px;
    height: 900px;
    margin-top: -100px;
}

.submenu_energy{
    position:absolute;
    pointer-events: none;
    background-color: white;
    margin-top: -42px;
    margin-left: -650px;
    height: 0px;
    width: 1544px;
    z-index: -10;
    opacity:0;
    display:flex;
    flex-direction: row;
    padding-top: 50px;
    align-items: center;
    transition: height 0.33s ease-in-out,opacity 0.1s ease-out;
}
#energy:hover + .submenu_energy,.submenu_energy:hover{
    z-index: -1;
    height: 400px;
    opacity: 1;
    pointer-events: visible;
}
.submenu_energy_rightside{
    width: 428px;
    height: 270px;
    padding-left: 50px;
    border-left: 2px solid #c7cad0;
}

.padding_wrapper_energy{
    width: 150px;
    height: 270px;
}
.padding_wrapper_energy_rightside{
    width: 50px;
}
.submenu_energy_leftside{
    flex-grow: 1;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.energy_panels{
    height: 115px;
    width:200px;
}
.submenu_energy_titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links_inside_submenu_energy_leftside_options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:25px;
    width: 100px;
}