
.Position_relative_container{
    position: relative;
}
body{
    margin: 0;
}

.image_modelY{
    margin-top: -69px;
    width: 1519px;
    height: 883px;
}

.title_bar{
    display: flex;
    height: 30px;
    width: 100%;
    position:relative;
    top: 0;
    padding-left: 42px;
    padding-top: 20px;
    
}
.Tesla_logo_wrapper{
    
    width: 150px;
    height: 30px;
    position:absolute;
    overflow: hidden;
}
.First_background_modelY{
    overflow: hidden;
    height: 747px;
    width: 1536px;
    position: absolute;
    top: 0;
    z-index: -2;
}
.Tesla_logo{
    transform: scale(1.2);
    width: 120px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 5;
}
.logo_link{
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
}
.menu_options{
    position: relative;
    z-index: 4;
    overflow: visible;
    margin-left: 35%;
    height:36px;
    margin-top: -19px;
}
.menu_list_main{
    margin-top: 16px;
    list-style-type: none;
    display: flex;
    gap: 5px;
    border: none;
    margin-left: -40px;
    margin-bottom: 5px;
}
.menu_list_main:hover button{
    color: black;
    transition-delay: 0.2s;
}

.menu_list_main button{
    font-family:  Arial,sans-serif;
    font-size: 13px;
    font-weight: 750;
    padding: 4px 15px;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.menu_list_main button:hover{
    border-radius: 5px;
    background-color: #d0d1d2;
    box-sizing: border-box;
    transition-delay: 0.2s;
   
}

.top_right_three_buttons_list{
    display: flex;
    list-style-type: none;
    gap: 4%;
}
.top_right_three_buttons{
    
    width: 150px;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 5;
}

.small_button_atag{
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  transition: background-color 0.3s ease;
}
.small_button_atag svg{
    padding-left: 4px;
}
.small_button_atag :hover{
    overflow: hidden;
    background-color: rgb(156,180,201,0.3);
    border: none;
    border-radius: 16%;
}

.top_right_three_buttons svg path{
    transition-delay: 0.2s;
    fill: white;
}

.menu_options:hover ~ .top_right_three_buttons svg path{
    transition-delay: 0.2s;
    fill: black;
}
.Tesla_logo_wrapper svg path{
    transition-delay: 0.2s;
    fill:white;
}
.menu_options:hover ~ .Tesla_logo_wrapper svg path{
    transition-delay: 0.2s;
    fill:black;
}
.submenu_vehicles{
    position: absolute;
    background-color: white;
    margin-top: -42px;
    margin-left: -573px;
    height: 0px;
    width: 1520px;
    z-index: -1;
    opacity: 0;
    transition: height 0.5s ease-out,opacity 0.5s ease-out;
}
#vehicles:hover + .submenu_vehicles,.submenu_vehicles:hover{
    z-index: -1;
    height: 400px;
    opacity: 1;
}
.menu_options:hover~.First_background_modelY .image_modelY{
    filter: blur(10px);
}

